{{ extend 'default/vista_admin.html' }}
{{ block funcionesrol }}
	<div class="row">
		  <button type="button" align="left" class="btn btn-lg2 btn-default">
		    <h class="tittle-accion"> Inscribir Proyecto
		  </button>
	</div><br>	
{{ end }}
{{ block subcontenido }}
    
	{{if globals().get('msj', False):}} <p><strong>{{=msj}}</strong></p>
	{{else:}}
		<div class="row">
			<div class="col-md-6" style="text-align: left">
				<div class="row">
					<i class="fa fa-pencil-square-o fa-3x" style="color: #4682B4"></i><h class="reg"> Registro de estudiante</h><br> 
		      	</div>
					{{=form}}
			</div>
	</div>
	{{ pass }}
{{ end }}


