{{ extend 'default/vista_admin.html' }}
{{ block vista_actores_detalles }}
<h4 style="color:#4682B4">Home</h4>
<h4 style="color:#4682B4">{{=bienvenida}}</h4>
{{ end }}

{{ block funciones_vista_actores }}

<div class="col-sm-12">
       <div class="col-md-3">
           <h4 style="color:#337AB7"><i class="glyphicon glyphicon-briefcase"></i> Menú</h4>
            <hr>
             <ul class="nav nav-stacked">
                 <li>
                      <a href="{{=URL('proyectos')}}">
                         <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Proponer un Proyecto</a>
                     <a href="{{=URL('validarProyectoEstudianteTutor')}}">
                         <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Validar Proyectos </a>
                      <a href="{{=URL('tutores')}}">
                         <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Editar Perfil </a>
                 </li>
             </ul>
       </div>

       <div class="col-md-5">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading detalles">
                       <b><h class="detalles" >Perfil </b></h>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">

                            {{for tutor in rows:}}
                            <tr><td><b>USBID</b> {{=tutor.f_usbid}}</td></tr>
                            <tr><td><b>Cédula:</b> {{=tutor.f_cedula}}</td></tr>
                            <tr><td><b>Nombre:</b> {{=tutor.f_nombre}}</td></tr>
                            <tr><td><b>Apellido:</b> {{=tutor.f_apellido}}</td></tr>
                            <tr><td><b>Sede:</b> {{=tutor.f_sede}}</td></tr>
                            <tr><td><b>e-mail:</b> {{=tutor.f_email}}</td></tr>
                            <tr><td><b>Sexo:</b> {{=tutor.f_sexo}}</td></tr>
                            <tr><td><b>Teléfono:</b> {{=tutor.f_telefono}}</td></tr>
                            <tr><td><b>Dirección:</b> {{=tutor.f_direccion}}</td></tr>
                            <tr><td><b>Nombre de Usuario:</b> {{=tutor.f_user.username}}</td></tr>
                          {{pass}}

                        </table>
                    </div>
                </div>
            </div>
        </div>


{{ end }}
