{% extends "base.html" %}

{% block contenido %}

	<div align="center">
		<div class="col-md-2"><a href="../">Inicio</a></div>
		<div class="col-md-2"><a href="../estudiantes/">Estudiantes</a></div>
		<div class="col-md-2"><a href="../tutores/">Tutores</a></div>
		<div class="col-md-2"><a href="../proyectos/">Proyectos</a></div>
		<div class="col-md-2"><a href="../proponentes/">Proponentes</a></div>
		<div class="col-md-2"><a href="#">Iniciar Sesion</a></div>	
	</div>
	{% if msj %} <p><strong>{{ msj }}</strong></p>
	{% else %}
	<div class="col-md-6" style="text-align: left; margin-top: 44px">
	<form enctype="multipart/form-data" method="post" action="">
  		{% csrf_token %}
		{{ form.as_p  }}
		<input type="submit" value="registrarse"/>
	</div>
	<div class="col-md-6" style="text-align: left; margin-top: 44px; width: 50%">
		<table>
		<h3> Lista de tutores disponibles: </h3>
		{% for proponente in proponentes %}
			<tr>
				<td>
					<a href="{{proponente.id}}/">{{proponente}}</a>
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	{% endif %}
{% endblock %}
