{% extends "base.html" %}

{% block contenido %}

{% load bootstrap %}

	<div align="center">
		<div class="col-md-2"><a href="../">Inicio</a></div>
		<div class="col-md-2"><a href="{% url 'estudiante' %}">Estudiantes</a></div>
		<div class="col-md-2"><a href="{% url 'tutor' %}">Tutores</a></div>
		<div class="col-md-2"><a href="{% url 'proyecto' %}">Proyectos</a></div>
		<div class="col-md-2"><a href="{% url 'proponente' %}">Proponentes</a></div>
		<div class="col-md-2"><a href="#">Iniciar Sesion</a></div>	
	</div>
	{% if msj %} <p><strong>{{ msj }}</strong></p>
	{% else %}
	<div class="col-md-6" style="text-align: left; margin-top: 44px">
	<form enctype="multipart/form-data" method="post" action="">
  		{% csrf_token %}
		{{ form|bootstrap }}
		<input type="submit" value="registrarse"/>
	</div>
	<div class="col-md-6" style="text-align: left; margin-top: 44px; width: 50%">
		<table>
		<h3> Lista de tutores disponibles: </h3>
		{% for tutor in tutores %}
			<tr>
				<td>
					<a href="{{tutor.cedula}}/">{{tutor}}</a>
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	{% endif %}
{% endblock %}