.mainScreen {


   width: 600px;
   height: 800px;
   margin:50px;   
   border: 3px solid black;
   border-radius: 25px; 
   text-align:center;
   

}

#background {
   padding: 0;
   height: 100%;
   width: 100%;  
   border-radius: 25px;
   overflow: hidden;
}

#basket_name {

   position:relative;
   bottom: 770px;   
	

}

#cup {

   position:relative;
   bottom: 770px;  
   left: 60px; 

}

#score {

   position:relative;
   bottom: 750px;  
}



#back_button {

   position:relative;
   bottom: 770px;
   right: 50px;

}


#game {

   position:relative; 
   top: 220px;
   right: 100px;
   height: 500px;

}

#buttons {

   position:relative; 
   bottom: 800px;
   right: 20px;
  
}


#hoop {

   position:relative; 
   bottom: 1200px;
   left: 75px;

}

#brain {

	position:relative;
   bottom: 980px;
   left:45px;
   z-index: 1;

}

#rules {

   position:relative; 
   bottom: 1600px;
   display:none;

}

#ok {

   position:relative; 
   bottom: 1830px;
   left: 90px;
   cursor:pointer;
   display:none;
}

#rules_button, #start_button, .QS {
	cursor:pointer;
}


#ball {

   position:relative;
   bottom: 1080px;
   right:10px;
   z-index: 1;
}

.question {

  width: 300px;
  position:relative; 
  bottom: 1800px;
  left: 30px;
  display:none;

}




h4.QS {

	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;

}

.questionPic {

	position:relative;
	left: 40px; 

}

#reglas {

	width: 43%;
	text-align:justify;
	position:relative;
	bottom: 1830px;
	left: 235px;
	display:none;
   font-size:15px;


}

#v1 {

	position:relative;
	bottom: 10px;

}

.answer {

	position:relative;
	bottom: 1750px;
	right: 200px;
	display:none;
}

div#result {

	border: 1px solid black; 
   width: 43%;
   position:relative; 
   bottom: 1700px;
   left: 60px;
   display:none;

}

#okFinish {
   position:relative; 
   bottom: 10px; 
   cursor:pointer;

}

h1.comment {

	font-size: 50px;
	position:relative;
	bottom: 85px; 
	left: 120px;

}

#confirm {

	display:none;
	position:relative;
	bottom: 1500px;
   z-index: 1;

} 



#okConfirm {

	position:relative;
	bottom: 360px;
	left: 50px;
}

#noConfirm {

	position:relative;
	bottom: 360px;
	left: 75px;

}

h4.confirmMsg {

	position:relative;
	bottom: 370px;
	left: 50px;

}



