.MainScreen {


   width: 600px;
   height: 800px;
   margin:50px;   
   border: 3px solid black;
   border-radius: 25px; 
   text-align:center;
   

}

.background {
   padding: 0;
   height: 100%;
   width: 100%;  
   border-radius: 25px;
   overflow: hidden;
}

#play {

   position:relative;
   bottom: 770px;   
}



#Selection {

  position:relative;
  bottom: 730px;
  font-size: 0;
  height: 100%;
  line-height: 0;
  z-index:0;

}

#Cup {

   position:relative;
   bottom: 1300px;
   


}

table, th, td {

text-align:left;


}

#friends  {

position: relative;
bottom: 1500px;
right: 150px;
cursor:pointer;

}

#top100 {

position: relative;
bottom:1500px;
left: 150px;
cursor:pointer;

}

#rank tr:nth-child(even) {

	background-color: #B8D9F9;
   

}

#rank tr:nth-child(odd) {

	background-color: white;

}

#rank th {
   background-color: #73DB7F;
   font-size: 14px;
}



table {

  position:relative;
  bottom: 1290px;
  border-spacing:50px;
  z-index:1;
  height:40px;

}

#friendsTable , #worldTable  {

  position:relative;
  bottom: 1650px;
  z-index:0;
  display:none;
  height:40px; 

}



#friendsTable tr:nth-child(even) {

	background-color: #B8D9F9;
   

}

#friendsTable tr:nth-child(odd) {

	background-color: white;

}

#friendsTable th {
   background-color: #73DB7F;
   font-size: 14px;
}

#worldTable tr:nth-child(even) {

	background-color: #B8D9F9;
   

}

#worldTable tr:nth-child(odd) {

	background-color: white;

}

#worldTable th {
   background-color: #F78319;
   font-size: 14px;
}


#basketIcon {

color: orange; 

}

#friendsTittle {

	position:relative;
   bottom: 1650px;
	display:none;

}

#worldTittle {

	position:relative;
   bottom: 1650px;
   display:none;


}


